# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
uploads/
staticfiles/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cloud & Tools
.ebextensions/
*.sqbpro